body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  background-color: #363753;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dark-mode {
	background-color: black;
}

.dark-mode h1 {
	color: white;
}

.dis{
  opacity: 0; 
}
.note.new {
	background-color: #f0faf5;
	opacity: 0;
	
}
textarea {
	border: none;
	resize: none;
	background-color: #f0faf5;
}
.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}
textarea:focus {
	outline: none;
}
.save:hover {
	background-color: #363753;
	cursor: pointer;
}
.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}
.plus{
	/* background-color: #fef68a; */
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .plus-button{
	border-style: dashed;
	border-color: white;
	/* background-color: cyan; */
	border-radius: 50%;
	cursor: pointer;
  }
.note {
	background-color: #dfe3ee;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}
.note span{
	word-wrap: break-word;
}
.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.delete-icon {
	cursor: pointer;
}
.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}

.search input:focus {
	outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.color > button {
	width: 10px;
	height: 10px;
	border-radius: 20px;
	margin-left: 10px;
  }
  .button{
	background-color: red;
  }
  .button-2{
	background-color: blue;
  }
  .button-3{
	background-color: yellow;
  }
  img{
	width: 150px;
	height: 150px;
	
  }